<% wrap_layout :layout do %>
  
  <header class='main'>
    <% link_to '/' do %>
      <%= image_tag 'altagem.png', class: 'logo', alt: 'Altagem' %>
    <% end %>
  </header>

  <div class='content'>
    <%= yield %>
  </div>

<% end %>
