---
page_title: Jobs | Ingénieur Web Full-Stack
pdf: altagem-ingenieur-web-fullstack-rails-frontend.pdf
---

.title
  %h1 Ingénieur Web Full-Stack (Rails / Frontend)
  =link_to '(voir la version PDF)', "/jobs/#{current_page.data.pdf}", target: '_blank'

%h2 Vous souhaitez rejoindre une équipe dynamique et participer à la création d'un produit innovant ?

%p
  %em.altagem Altagem
  est un Saas B2B dédié à la gestion d'employés mobiles.
%p
  La solution est composée d'une application de gestion full-javascript
  %em Angular.js
  supportée par un backend
  <em>Ruby on Rails</em>,
  et d'un client mobile
  %em Android
  pour le travail sur le terrain.
%p Nous recrutons un Ingénieur Web Full-Stack pour intégrer notre équipe produit.


%h2 Missions
%p
  Vous travaillerez à la fois sur le backend et l'UI web pour implémenter de
  nouvelles fonctionnalités.
%p
  Nous travaillons autour d'un cycle Agile : vous prenez la responsabilité d'une
  fonctionnalité, travaillez la conception métier avec le Product Owner, puis
  réalisez le tout par itérations.


%h2 Vous
%p Le candidat idéal :
%ul
  %li Autonome &amp; créatif
  %li Orienté produit et utilisateur
  %li Maitrise les concepts de POO, la conception &amp; modélisation de BDD
  %li A de l'expérience avec JS et idéalement avec un framework MV*
  %li A de l'expérience en backend MVC, idéalement avec Ruby on Rails
  %li Connait et pratique les best practices de l'ingénierie logicielle : Code Review, Testing, Intégration Continue, ...
  %li Aime faire du sport le midi ;) (Course à pied, Ping-Pong...)
%p
  Cela vous ressemble ? Vous avez envie de rejoindre une équipe jeune,
  dynamique, sympathique et talentueuse ?
%p
  N'hésitez pas à postuler même si vous ne correspondez pas à 100% au profil.
%p
  Votre CV, mais vos liens Linkedin, Stack Overflow, Github, … sont les bienvenus.

.apply
  =link_to 'Postuler !', 'mailto:job@altagem.com', class: :apply
