---
title:        Altagem
description:  Application Saas et mobile de Field Force Management - Gestion d'Equipes Mobiles
page_title:   Application Saas et mobile de Field Force Management - Gestion d'Equipes Mobiles
---

.screenheight
.welcome
  %h1=        current_page.data.title
  .catching=  current_page.data.description
  .main-menu
    %ul
      %li= link_to 'Jobs', '/jobs'
