---
title:        Altagem
description:  Solution Saas et mobile de Field Service Management - Gestion d'Equipes Mobiles
page_title:   Altagem | Solution Saas et mobile de Field Service Management - Gestion d'Equipes Mobiles
---

.screenheight
.welcome
  %h1=        current_page.data.title
  .catching=  current_page.data.description
  .main-menu
    Nous recrutons actuellement:
    %ul
      %li= link_to 'Ingénieur Web Full-Stack (Rails / Frontend)', '/jobs/ingenieur-web-fullstack-rails-frontend'
