---
page_title: Jobs
---

%h2 Vous souhaitez rejoindre une équipe dynamique et participer à la création d'un produit innovant ?

%p Nous recherchons actuellement les profils suivants :
%ul
  - data.jobs.each do |job|
    %li.job
      = link_to job.title, job.url
      %em= "(#{job.location})"

%p
  %em Altagem
  édite une application Saas et mobile dédiée aux entreprises ayant des équipes mobiles. La stack technologique est composée de :

%ul
  %li
    Backend :
    %em Ruby On Rails
  %li
    Application Web :
    %em Angular.js
  %li
    Application Mobile :
    %em Android natif

%p Au sein d'une équipe de développement Agile vous implémenterez de nouvelles fonctionnalités dans le produit et participerez à son évolution. Les défis technologiques sont nombreux : synchronisation, fonctionnement offline, architecture multi-tenant, ...

%p Git, Pull Request, TDD et Intégration Continue font partie de notre quotidien.

%h2 Pourquoi nous rejoindre ?
%ul
  %li Equipe jeune et talentueuse
  %li Technologies récentes
  %li Course à pied / Ping-Pong le midi pour les plus sportifs ;)

%p Contrat : stage, CDD, freelance
Rémunération selon profil

%p
  Si vous êtes intéressé(e) :
  = link_to 'job@altagem.com', 'mailto:job@altagem.com'
